

.input_rover{
  width: 20%;
  padding-left: 1rem;
}
.slice_div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_rover{
  width: 80%;
    margin-left: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* 4 elementos por fila */
    gap: 30px;
    padding-right: 3rem;
 
  
  }
.image-div_rover{
    display: flex;
    justify-content: center;
    align-items: center;
   max-width: 250px;
   min-height: 250px;
    position: relative;}

  .photo_rover{
   width: 100%;
   height: 100%;
   border-radius: 1%;
   position:absolute;
  }
.photo_rover:hover{
  width: 115%;
  height: 115%;
}

  .loading {
    text-align: center;
    position: relative;}
   .hidden {
        display: none;
      }
  
@media screen and (max-width: 1000px){
.input_rover{min-width: 150px;
 }
    .container_rover{margin-top: 2.5rem;
        margin-left: 150px;
    }

}

@media screen and (max-width: 406px){
.input_rover{margin: 0 1rem;}
.container_rover{margin: 0px 2rem;
padding: 0;}

}
