body{
  background-image: url('nasa_background.jpg');
  background-size: cover;
  color: aliceblue;
}
.input_apod{
  padding-left: 1rem;
  width: 20%;
}
  .container_apod{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
 
  }
   .loading{
   text-align: center;
   position:relative;
  }
  .image-div_apod{
    display: flex;
   justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    position: relative;
   }
   .image-div_apod:hover{
    padding: 50px;
   }
  .photo_apod{
   width: 100%;
   height: 100%;
   object-fit: cover;
   position:absolute;
   border-radius: 1%;
   
  }

   .hidden {
        display: none;
      }

  @media screen and (max-width: 700px){
        .input_apod{width: 100%
         }
         .container_apod{padding-left: 1rem;}
           
            .image-div_apod{
              max-width: 300px;
              max-height: 300px;
            }
        }

   