.header {
    width: 100%;
    color: rgba(8, 50, 122, 0.87);
}

.nasa-icon {
    width: 150px;
    height: 150px;
}

.welcome {
    display: flex;
    border-bottom: solid 2px black;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3rem;
}

.notfound {
    padding-left: 45%;
}

@media screen and (max-width: 676px) {
    .welcome>h1 {
        display: none
    }
}

@media screen and (max-width: 406px) {
    .welcome {
        padding: 0px;
    }
}