body {
  margin: 0;
  display: flex;
  background-image: url('../public/nasa_background.jpg');
  background-size: cover;
  color: aliceblue;
  min-width: 320px;
  min-height: 100vh;

}


.outlet {
  width: 99vw;
  padding-top: 20px;

  display: flex;
  flex-direction: row;
 

}

.notfound{padding-left: 45%;}

@media screen and (max-width: 406px){

  .outlet{display:flex;
  flex-direction: column;
justify-content: center;
align-items: center;}
}